<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /gastudio/patosingluten/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /gastudio/patosingluten/index.php [L]
</IfModule>