@import 'mixin';



@media screen and (max-width: 1024px) {
  html, body {
    font-size: 14px !important;
  }

  .page-title {
    background-size: 17% 100%;
  }

  .about-pato{
    figure{
      width: 35%;
    }
  }
}


@media screen and (max-width: 800px) {
  #header {
    .logo-wrapper{
      &:before{
        top:(90rem/14)
      }
    }
  }

  .about{
    .pic{
      display: none;
    }

    .white-board {
      margin-right:0;
      height: 100%;
      article{
        font-size: (18rem/14);
      }
      .decoration-pic-2{
        right:0;
      }
    }

    .social{
      left: (15rem/14);
      width: (80rem/14);
      top:(300rem/14);
      i,span{
        display: none;
      }
    }

    .desire {
      .decoration-pic-5{
        display: none;
      }
    }
  }

  .category-nav{
    li{
      width: (100%/3);
      height: (205rem/14);
      a{
        max-width: 100% !important;
        font-size: (60rem/14);
        height: (65rem/14);
        line-height: (65rem/14);
      }
    }
  }

  .recipe {
    .category-nav {
      li {
        a{
          font-size:(48rem/14)
        }
      }
    }
  }

  .contact{
    .decoration-1{
     display: none;
    }
    .decoration-2{
      top: 0;
    }

    .contact-board{
      margin-right: 10%;
      width: 80%;
      height: (400rem/14);
    }
  }

  .recipes-view{
    .main-menu{
      .category-nav{
        margin-left: 0;
        li{
          width: (100%/5);
          height: (50rem/14);
          a{
            font-size: (55rem/14);
            line-height: (22rem/14);
            padding-top: (9rem/14);
            height: (50rem/14);
          }
        }
      }
    }
  }

  .sticky-content{
    .logo{
      width:10%;
      overflow: hidden;
      img{
        max-width: none;
      }
    }

    .menu{
      width: 70%;
    }
  }

  .news{
    aside{
      width: 30%;
    }
    .white-board{
      width: 70%;
      height: (550rem/14);
    }
    .decoration-pic-1{
      width: 30%;
      height: 25%;
    }
  }

  .recipes-view{
    .white-board{
      width: 100%;
      float: none;
      margin-top: (100rem/14);
    }

    aside{
      float: none;
    }
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .news{
    .white-board{
      width: 65%;
      height: (550rem/14);
    }
    .decoration-pic-1{
      width: 35%;
      height: 35%;
    }
  }

  .about{
    .pic{
      width: 18%;
      height: auto;
    }

    .pic-one{
      top: (95rem/16);
      left: 7%;
    }

    .pic-two{
      left: 8%;
    }

    .social{
      left: 20%;
      width: (80rem/14);
      top:(410rem/14);
      i,span{
        display: none;
      }
    }

    .decoration-pic-5{
      width: (320rem/14) !important;
      height: (310rem/14) !important;
    }

  }

  .contact {
    .decoration-1{
      width: (370rem/14);
      height: (350rem/14);
    }
  }

}


