@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url("../fonts/AGaramondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AGaramondPro-Regular.woff") format("woff"), url("../fonts/AGaramondPro-Regular.ttf") format("truetype"), url("../fonts/AGaramondPro-Regular.svg#AGaramondPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RockwellStdBold';
  src: url("../fonts/RockwellStdBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RockwellStdBold.woff") format("woff"), url("../fonts/RockwellStdBold.ttf") format("truetype"), url("../fonts/RockwellStdBold.svg#RockwellStdBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url("../fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Heavy.woff") format("woff"), url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("../fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url("../fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Light.woff") format("woff"), url("../fonts/AvenirLTStd-Light.ttf") format("truetype"), url("../fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir45BookBook';
  src: url("../fonts/Avenir45BookBook.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir45BookBook.woff") format("woff"), url("../fonts/Avenir45BookBook.ttf") format("truetype"), url("../fonts/Avenir45BookBook.svg#Avenir45BookBook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'VTKSINKED';
  src: url("../fonts/VTKSINKED.eot?#iefix") format("embedded-opentype"), url("../fonts/VTKSINKED.woff") format("woff"), url("../fonts/VTKSINKED.ttf") format("truetype"), url("../fonts/VTKSINKED.svg#VTKSINKED") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TwentySingles';
  src: url("../fonts/TwentySingles.eot?#iefix") format("embedded-opentype"), url("../fonts/TwentySingles.woff") format("woff"), url("../fonts/TwentySingles.ttf") format("truetype"), url("../fonts/TwentySingles.svg#TwentySingles") format("svg");
  font-weight: normal;
  font-style: normal; }
.bx-wrapper .bx-viewport {
  border: none !important;
  box-shadow: none !important;
  left: 0 !important; }

.bx-wrapper {
  position: relative; }
  .bx-wrapper .bx-pager {
    bottom: 5% !important;
    width: inherit !important;
    right: 2% !important; }
    .bx-wrapper .bx-pager a {
      width: 0.9375rem !important;
      height: 1.125em !important;
      border-radius: 1.25rem !important;
      background-color: rgba(255, 255, 255, 0.5) !important; }
      .bx-wrapper .bx-pager a.active {
        background-color: #FFFFFF !important; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-size: 16px; }

body {
  background: url("../images/background-texture.jpg") repeat;
  background-size: 100%; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px; }

.block {
  background: url("../images/background-texture.jpg") repeat;
  background-size: 100%; }

.center {
  display: table;
  margin: 0 auto; }

.margin {
  width: 93%;
  position: relative; }

.menu {
  font-family: TwentySingles;
  box-sizing: border-box; }
  .menu li {
    float: left;
    position: relative; }

#header {
  box-sizing: border-box;
  position: relative; }
  #header .logo-wrapper {
    position: relative;
    margin-bottom: 2.5em; }
    #header .logo-wrapper:before {
      content: "";
      background-image: url("../images/slogan.png");
      width: 11.8125em;
      height: 4.0625em;
      position: absolute;
      top: 4em;
      right: -15em; }
    #header .logo-wrapper .logo {
      float: left;
      margin: 1em 0 0 1.25em; }
  #header .social {
    position: absolute;
    right: 0;
    top: 2em;
    width: 9.3125em;
    height: 3.5em;
    background: url("../images/mancha.svg");
    background-size: 100% 100%; }
    #header .social li {
      float: left;
      margin: 1em 0 0 0.75em; }
      #header .social li:first-child {
        margin-left: 1.25em; }
      #header .social li a {
        text-decoration: none;
        font-size: 1.3125em; }
        #header .social li a:before {
          color: #222121; }
  #header .search {
    position: absolute;
    top: 3em;
    left: 0; }
    #header .search input[type='text'] {
      background: transparent;
      border: none;
      border-bottom: solid 2px #ffffff;
      color: #ffffff;
      font-family: Avenir45BookBook;
      font-size: 0.9375em;
      width: 9.5em;
      padding: 0 0 0.3125em 0;
      line-height: 1.5em; }
      #header .search input[type='text']::-webkit-input-placeholder {
        color: #ffffff; }
      #header .search input[type='text']:-moz-placeholder {
        color: #ffffff; }
      #header .search input[type='text']::-moz-placeholder {
        color: #ffffff; }
      #header .search input[type='text']:-ms-input-placeholder {
        color: #ffffff; }
    #header .search input[type='submit'] {
      background: url("../images/lupa.png") no-repeat;
      border: none;
      width: 1.4375em;
      height: 1.6875em;
      text-indent: -9999em; }
  #header #menu-header {
    font-size: 4.75em;
    width: 100%;
    max-width: 11.69737em;
    height: 0.75em;
    background: url("../images/menu-principal-bg.png") no-repeat;
    position: absolute;
    left: 50%;
    bottom: -0.47368em;
    transform: translate(-50%, 0);
    padding: 0 10%;
    z-index: 99; }
    #header #menu-header li {
      width: 25%;
      letter-spacing: 0.02632em;
      text-align: right;
      line-height: 0.65789em; }
      #header #menu-header li:before {
        position: absolute;
        content: "";
        top: 0.39474em;
        background: url("../images/disc.png") no-repeat;
        width: 0.5em;
        height: 0.5em;
        right: -0.73684em; }
      #header #menu-header li a {
        color: #6A3327;
        text-decoration: none; }
      #header #menu-header li:first-child:after {
        position: absolute;
        content: "";
        top: 0.39474em;
        background: url("../images/disc.png") no-repeat;
        width: 0.10526em;
        height: 0.10526em;
        left: 0.06579em; }

.category-nav li {
  width: 16.66667%; }
  .category-nav li a {
    font-size: 3.1875em;
    color: #FFFFFF;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
