@import 'mixin.scss';

@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url('../fonts/AGaramondPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AGaramondPro-Regular.woff') format('woff'), url('../fonts/AGaramondPro-Regular.ttf') format('truetype'), url('../fonts/AGaramondPro-Regular.svg#AGaramondPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RockwellStdBold';
  src: url('../fonts/RockwellStdBold.eot?#iefix') format('embedded-opentype'), url('../fonts/RockwellStdBold.woff') format('woff'), url('../fonts/RockwellStdBold.ttf') format('truetype'), url('../fonts/RockwellStdBold.svg#RockwellStdBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('../fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirLTStd-Heavy.woff') format('woff'), url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype'), url('../fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirLTStd-Light.woff') format('woff'), url('../fonts/AvenirLTStd-Light.ttf') format('truetype'), url('../fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir45BookBook';
  src: url('../fonts/Avenir45BookBook.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir45BookBook.woff') format('woff'), url('../fonts/Avenir45BookBook.ttf') format('truetype'), url('../fonts/Avenir45BookBook.svg#Avenir45BookBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VTKSINKED';
  src: url('../fonts/VTKSINKED.eot?#iefix') format('embedded-opentype'), url('../fonts/VTKSINKED.woff') format('woff'), url('../fonts/VTKSINKED.ttf') format('truetype'), url('../fonts/VTKSINKED.svg#VTKSINKED') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TwentySingles';
  src: url('../fonts/TwentySingles.eot?#iefix') format('embedded-opentype'), url('../fonts/TwentySingles.woff') format('woff'), url('../fonts/TwentySingles.ttf') format('truetype'), url('../fonts/TwentySingles.svg#TwentySingles') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bx-wrapper .bx-viewport {
  border: none !important;
  box-shadow: none !important;
  left: 0 !important;

}

.bx-wrapper {
  position: relative;
  .bx-pager {
    bottom: 5% !important;
    width: inherit !important;
    right: 2% !important;

    a{
      width: (15rem/16) !important;
      height: (18em/16) !important;
      border-radius: (20rem/16) !important;
      background-color: rgba(255, 255, 255, 0.5) !important;
      &.active{
        background-color: #FFFFFF !important;
      }
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-size: 16px;
}

body {
  background: url("../images/background-texture.jpg") repeat;
  background-size: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.block {
  background: url("../images/background-texture.jpg") repeat;
  background-size: 100%;
}

.center {
  display: table;
  margin: 0 auto;
}

.margin{
  width: 93%;
  position: relative;
}

.menu{
  font-family: TwentySingles;
  box-sizing: border-box;
  li{
    float: left;
    position: relative;
  }
}

#header {
  box-sizing: border-box;
  position: relative;

  .logo-wrapper {
    position: relative;
    margin-bottom: 2.5em;

    &:before {
      content: "";
      background-image: url("../images/slogan.png");
      width: (189em/16);
      height: (65em/16);
      position: absolute;
      top: 4em;
      right: -15em;
    }

    .logo {
      float: left;
      margin: 1em 0 0 (20em/16);
    }
  }

  .social {
    position: absolute;
    right: 0;
    top: 2em;
    width: (149em/16);
    height: (56em/16);
    background: url("../images/mancha.svg");
    background-size: 100% 100%;

    li {
      float: left;
      margin: 1em 0 0 (12em/16);

      &:first-child {
        margin-left: (20em/16);
      }
      a {
        text-decoration: none;
        font-size: (21em/16);

        &:before {
          color: #222121;
        }
      }
    }
  }

  .search {
    position: absolute;
    top: (48em/16);
    left: 0;

    input[type='text'] {
      background: transparent;
      border: none;
      border-bottom: solid 2px #ffffff;
      color: #ffffff;
      font-family: Avenir45BookBook;
      font-size: (15em/16);
      width: (152em/16);
      padding: 0 0 (5em/16) 0;
      line-height: (24em/16);

      @include placeholder {
        color: #ffffff;
      }
    }
    input[type='submit'] {
      background: url("../images/lupa.png") no-repeat;
      border: none;
      width: (23em/16);
      height: (27em/16);
      text-indent: -9999em;
    }
  }

  #menu-header {

    font-size: (76em/16);
    width: 100%;
    max-width: (889em/76);
    height: (57em/76);
    background: url("../images/menu-principal-bg.png") no-repeat;
    position: absolute;
    left: 50%;
    bottom: (-36em/76);
    transform: translate(-50%, 0);
    padding: 0 10%;
    z-index: 99;

    li {
      width: 25%;
      letter-spacing: (2em/76);
      text-align: right;
      line-height: (50em/76);

      &:before {
        position: absolute;
        content: "";
        top: (30em/76);
        background: url("../images/disc.png") no-repeat;
        width: (8em/16);
        height: (8em/16);
        right: (-56em/76);
      }

      a {
        color: #6A3327;
        text-decoration: none;
      }

      &:first-child {
        &:after {
          position: absolute;
          content: "";
          top: (30em/76);
          background: url("../images/disc.png") no-repeat;
          width: (8em/76);
          height: (8em/76);
          left: (5em/76);
        }
      }
    }
  }
}


.category-nav{
  li{
    width: (100%/6);
    a{
      font-size: (51em/16);
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}



