@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url("../fonts/AGaramondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AGaramondPro-Regular.woff") format("woff"), url("../fonts/AGaramondPro-Regular.ttf") format("truetype"), url("../fonts/AGaramondPro-Regular.svg#AGaramondPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RockwellStdBold';
  src: url("../fonts/RockwellStdBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RockwellStdBold.woff") format("woff"), url("../fonts/RockwellStdBold.ttf") format("truetype"), url("../fonts/RockwellStdBold.svg#RockwellStdBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url("../fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Heavy.woff") format("woff"), url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("../fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url("../fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Light.woff") format("woff"), url("../fonts/AvenirLTStd-Light.ttf") format("truetype"), url("../fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir45BookBook';
  src: url("../fonts/Avenir45BookBook.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir45BookBook.woff") format("woff"), url("../fonts/Avenir45BookBook.ttf") format("truetype"), url("../fonts/Avenir45BookBook.svg#Avenir45BookBook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'VTKSINKED';
  src: url("../fonts/VTKSINKED.eot?#iefix") format("embedded-opentype"), url("../fonts/VTKSINKED.woff") format("woff"), url("../fonts/VTKSINKED.ttf") format("truetype"), url("../fonts/VTKSINKED.svg#VTKSINKED") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TwentySingles';
  src: url("../fonts/TwentySingles.eot?#iefix") format("embedded-opentype"), url("../fonts/TwentySingles.woff") format("woff"), url("../fonts/TwentySingles.ttf") format("truetype"), url("../fonts/TwentySingles.svg#TwentySingles") format("svg");
  font-weight: normal;
  font-style: normal; }
.grayScale {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out 0s; }

.bx-wrapper .bx-viewport {
  border: none !important;
  box-shadow: none !important;
  left: 0 !important; }

.bx-wrapper {
  position: relative;
  margin: 0 auto !important; }
  .bx-wrapper .bx-pager {
    bottom: 5% !important;
    width: inherit !important;
    right: 2% !important; }
    .bx-wrapper .bx-pager a {
      width: 0.9375rem !important;
      height: 1.125em !important;
      border-radius: 1.25rem !important;
      background-color: rgba(255, 255, 255, 0.5) !important; }
      .bx-wrapper .bx-pager a.active {
        background-color: #FFFFFF !important; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-size: 16px; }

body {
  background: url("../images/site-bg.jpg") repeat top center fixed;
  background-size: 100%; }

#site {
  overflow: hidden; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px; }

.block {
  position: relative; }

.center {
  display: table;
  margin: 0 auto; }

.margin {
  width: 93%;
  position: relative; }

.decoration-pic-3 {
  position: absolute;
  background: url("../images/sobre-pato-decoration-3.png") no-repeat; }

.menu {
  font-family: TwentySingles;
  box-sizing: border-box; }
  .menu li {
    float: left;
    position: relative; }

.social {
  background: url("../images/mancha.svg") no-repeat;
  background-size: 100% 100%; }
  .social li a {
    text-decoration: none; }
    .social li a:before {
      color: #222121; }

#header {
  box-sizing: border-box;
  position: relative; }
  #header .logo-wrapper {
    position: relative;
    margin-bottom: 2.5em; }
    #header .logo-wrapper:before {
      content: "";
      background-image: url("../images/slogan.png");
      width: 11.8125em;
      height: 4.0625em;
      position: absolute;
      top: 4em;
      right: -15em; }
    #header .logo-wrapper .logo {
      float: left;
      margin: 1em 0 0 1.25em; }
  #header .social {
    position: absolute;
    right: 0;
    top: 2em;
    width: 9.3125em;
    height: 3.5em; }
    #header .social li {
      float: left;
      margin: 1em 0 0 0.75em; }
      #header .social li:first-child {
        margin-left: 1.25em; }
      #header .social li a {
        font-size: 1.3125em; }
        #header .social li a:before {
          color: #222121; }
  #header .search {
    position: absolute;
    top: 3em;
    left: 0; }
    #header .search input[type='text'] {
      background: transparent;
      border: none;
      border-bottom: solid 2px #ffffff;
      color: #ffffff;
      font-family: Avenir45BookBook;
      font-size: 0.9375em;
      width: 9.5em;
      padding: 0 0 0.3125em 0;
      line-height: 1.5em; }
      #header .search input[type='text']::-webkit-input-placeholder {
        color: #ffffff; }
      #header .search input[type='text']:-moz-placeholder {
        color: #ffffff; }
      #header .search input[type='text']::-moz-placeholder {
        color: #ffffff; }
      #header .search input[type='text']:-ms-input-placeholder {
        color: #ffffff; }
    #header .search input[type='submit'] {
      background: url("../images/lupa.png") no-repeat;
      border: none;
      width: 1.4375em;
      height: 1.6875em;
      text-indent: -9999em; }
  #header #menu-header {
    font-size: 4.75em;
    width: 100%;
    max-width: 11.69737em;
    height: 0.75em;
    background: url("../images/menu-principal-bg.png") no-repeat;
    position: absolute;
    left: 50%;
    bottom: -0.47368em;
    transform: translate(-50%, 0);
    padding: 0 10%;
    z-index: 99; }
    #header #menu-header li {
      width: 25%;
      letter-spacing: 0.02632em;
      text-align: right;
      line-height: 0.65789em; }
      #header #menu-header li:before {
        position: absolute;
        content: "";
        top: 0.39474em;
        background: url("../images/disc.png") no-repeat;
        width: 0.5em;
        height: 0.5em;
        right: -0.73684em; }
      #header #menu-header li a {
        color: #6A3327;
        text-decoration: none; }
      #header #menu-header li:first-child:after {
        position: absolute;
        content: "";
        top: 0.39474em;
        background: url("../images/disc.png") no-repeat;
        width: 0.10526em;
        height: 0.10526em;
        left: 0.06579em; }

.main-menu {
  margin-top: 2.25em; }

.category-nav {
  width: 100%; }
  .category-nav li {
    width: 16.66667%;
    height: 10.625rem;
    position: relative;
    background-size: 100% !important; }
    .category-nav li a {
      font-size: 3.1875em;
      color: #FFFFFF;
      text-decoration: none;
      width: 100%;
      height: 3.375rem;
      line-height: 3.375rem;
      text-align: center;
      background-size: 100% 100% !important;
      letter-spacing: 0.03947em;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto; }
    .category-nav li:first-child {
      margin-left: 0; }
    .category-nav li:last-child {
      margin-right: 0; }
    .category-nav li.dulces-te {
      background: url("../images/para-el-te-bg.png") no-repeat; }
      .category-nav li.dulces-te a {
        max-width: 11rem;
        background: url("../images/category-menu-yellow-bg.png"); }
    .category-nav li.panes-snacks {
      background: url("../images/panes-bg.png") no-repeat; }
      .category-nav li.panes-snacks a {
        max-width: 10.375rem;
        background: url("../images/category-menu-green-bg.png"); }
    .category-nav li.platos-principales {
      background: url("../images/platos-principales-bg.png") no-repeat; }
      .category-nav li.platos-principales a {
        max-width: 11rem;
        background: url("../images/category-menu-orange-bg.png"); }
    .category-nav li.postres {
      background: url("../images/postres-bg.png") no-repeat; }
      .category-nav li.postres a {
        max-width: 10.375rem;
        background: url("../images/category-menu-blue-bg.png"); }
    .category-nav li.para-festejar {
      background: url("../images/para-festejar-bg.png") no-repeat; }
      .category-nav li.para-festejar a {
        max-width: 10.375rem;
        background: url("../images/category-menu-brown-bg.png"); }
    .category-nav li.tortas {
      background: url("../images/tortas-bg.png") no-repeat; }
      .category-nav li.tortas a {
        max-width: 10.375rem;
        background: url("../images/category-menu-pink-bg.png"); }

.page-title {
  font-family: VTKSINKED;
  color: #FFFFFF;
  font-size: 3.8125em;
  line-height: 6.4375rem;
  text-align: center;
  box-sizing: border-box;
  background: url("../images/title-decorator.png") no-repeat center; }

.white-board {
  background: url("../images/pizarron-blanco.png") no-repeat;
  position: relative;
  box-sizing: border-box; }

.about {
  margin: 9.6875em 0 0; }
  .about .pic-one {
    position: absolute;
    left: 6.5%;
    top: 1.25em;
    z-index: 999; }
  .about .pic-two {
    position: absolute;
    top: 14.6875em;
    left: 5%;
    z-index: 999; }
  .about .white-board {
    width: 51.8125em;
    height: 38.375em;
    float: right;
    margin: 4.375em 5em 0 0;
    position: relative;
    padding: 5.625em; }
    .about .white-board .decoration-pic-1 {
      width: 14.3125em;
      height: 13.875em;
      position: absolute;
      background: url("../images/sobre-pato-decoration-1.png") no-repeat;
      bottom: -7.625em;
      left: -6.6875em; }
    .about .white-board .decoration-pic-2 {
      width: 17.4375em;
      height: 15.5em;
      position: absolute;
      background: url("../images/sobre-pato-decoration-2.png") no-repeat;
      top: -9.0625em;
      right: 2.5em; }
    .about .white-board .decoration-pic-3 {
      width: 9.0625em;
      height: 9.3125em;
      background-size: cover;
      bottom: 1.875em;
      right: -3.75em; }
    .about .white-board article {
      color: #6D6E70;
      font-family: AGaramondPro-Regular;
      font-size: 1.0625em; }
      .about .white-board article .title {
        color: #6A3327;
        font-size: 1.4375em;
        font-family: RockwellStdBold; }
    .about .white-board:before {
      content: "";
      background: url("../images/sin-gluten-sticker.png") no-repeat;
      width: 26.1875em;
      height: 8em;
      position: absolute;
      top: -2.5em;
      left: 9%; }
  .about .social {
    position: absolute;
    left: 9%;
    top: 33em;
    width: 21.5em;
    height: 10.9375em;
    z-index: 99;
    box-sizing: border-box;
    padding: 2.5em 0 0 2.1875em; }
    .about .social li {
      display: block; }
      .about .social li a {
        font-size: 1.5em;
        line-height: 1.25em;
        color: #ffffff; }
        .about .social li a:before {
          color: #ffffff; }
        .about .social li a span {
          font-family: TwentySingles, sans-serif;
          font-size: 3.125rem;
          letter-spacing: 0.125rem;
          margin-left: 0.5rem;
          text-transform: lowercase; }
          .about .social li a span i {
            font-size: 2.1875rem;
            margin-right: 0.1875rem;
            font-style: normal; }
  .about .desire {
    box-sizing: border-box;
    position: relative;
    padding: 9.375em 0 21.25em 12.5em; }
    .about .desire article {
      color: #FFFFFF;
      box-sizing: border-box;
      font-size: 5.4375em;
      font-family: TwentySingles, sans-serif;
      letter-spacing: 0.125rem;
      line-height: 4.0625rem;
      position: relative;
      display: table;
      padding: 0 0 3.125rem 0;
      background: url("../images/rayon.png") center bottom no-repeat;
      text-align: center; }
      .about .desire article:after, .about .desire article:before {
        content: "";
        position: absolute;
        width: 3.1875rem;
        height: 2.625rem;
        background: url("../images/comillas.png") no-repeat; }
      .about .desire article:after {
        top: 0.625rem;
        left: 1.25rem; }
      .about .desire article:before {
        bottom: 4.0625rem;
        right: -0.9375rem; }
    .about .desire .decoration-pic-4 {
      width: 13.375em;
      height: 14em;
      position: absolute;
      background: url("../images/sobre-pato-decoration-4.png") no-repeat;
      top: 1.875em;
      left: 0.625em; }
    .about .desire .decoration-pic-5 {
      background: url("../images/sobre-pato-decoration-5.png") no-repeat;
      width: 30.6875em;
      height: 31.0625em;
      background-size: cover;
      position: absolute;
      top: 7.5em;
      right: 0; }
    .about .desire .decoration-pic-6 {
      background: url("../images/sobre-pato-decoration-6.png") no-repeat;
      width: 13.875em;
      height: 13.4375em;
      background-size: cover;
      position: absolute;
      bottom: 0;
      right: 0; }
    .about .desire .pic-three {
      position: absolute;
      right: 0;
      top: 7.5em; }
    .about .desire .decoration-pic-7 {
      background: url("../images/sobre-pato-decoration-7.png") no-repeat;
      width: 34em;
      height: 22.5625em;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0; }

.recipe {
  margin: 9.6875em 0 0; }
  .recipe .category-nav {
    width: 82%;
    margin: 0 auto; }
    .recipe .category-nav li {
      width: 30%;
      height: 14.8125em;
      margin-left: 5%;
      margin-bottom: 10%;
      position: relative; }
      .recipe .category-nav li:nth-child(3n-2) {
        margin-left: 0 !important; }
      .recipe .category-nav li a {
        max-width: 95%;
        height: 100%;
        font-size: 4.6875rem;
        background-repeat: no-repeat;
        background-size: 100% auto !important;
        background-position: bottom;
        line-height: 25rem; }
        .recipe .category-nav li a:before {
          width: 9.4375rem;
          height: 3.0625em;
          background: url("../images/more.png") no-repeat;
          position: absolute;
          content: "";
          bottom: -3.125em;
          left: 40%; }
    .recipe .category-nav:before, .recipe .category-nav:after {
      background: url("../images/saparator.png");
      height: 0.4375em;
      position: absolute;
      width: 67%;
      left: 0;
      right: 0;
      margin: 0 auto; }
    .recipe .category-nav:after {
      top: 45%; }
    .recipe .category-nav:before {
      bottom: 2%; }
  .recipe .decoration-pic-8 {
    position: absolute;
    top: -5.625em;
    right: 0;
    width: 22.125em;
    height: 25em;
    background: url("../images/recetas-decoration-1.png"); }

.news {
  margin: 2.1875em auto 6.25em;
  position: relative;
  width: 87%; }
  .news .decoration-pic-1 {
    width: 22em;
    height: 20.75em;
    position: absolute;
    background: url("../images/news-decoration-2.png") no-repeat;
    bottom: -5.3125em;
    left: 0; }
  .news .white-board {
    width: 47rem;
    height: 44.1875rem;
    float: right;
    margin: 4.375em 0 0 0;
    position: relative;
    padding: 5.625em;
    background-size: contain;
    background-size: 100% 100%; }
    .news .white-board .title {
      color: #6A3327;
      font-size: 1.4375em;
      font-family: RockwellStdBold;
      position: relative;
      margin-bottom: 1.875rem; }
      .news .white-board .title:before {
        content: "";
        width: 100%;
        height: 0.375rem;
        position: absolute;
        left: 0;
        bottom: -0.9375rem;
        background: url("../images/separator_gray.png"); }
    .news .white-board .decoration-pic-2 {
      width: 15.125em;
      height: 11.9375em;
      position: absolute;
      background: url("../images/news-decoration-1.png") no-repeat;
      top: -9.0625em;
      right: 0; }
    .news .white-board article {
      color: #6D6E70;
      font-family: AGaramondPro-Regular;
      font-size: 1.0625em; }
      .news .white-board article .title {
        color: #6A3327;
        font-size: 1.4375em;
        font-family: RockwellStdBold; }
  .news aside {
    width: 17.125em;
    height: 25.625em;
    margin: 6.875em 0 0;
    background: url("../images/pizarron-blanco.png") no-repeat;
    float: left;
    background-size: 100% 100%; }
